.wrapper {
	max-width: 1440px;
	margin: auto;
	padding: 0 20px;

	.clear {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;

		h1 {
			font-size: 44px;
		}

		P {
			font-size: 18px;
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.items {
		margin-top: 50px;
		height: 600px;
		overflow-y: scroll;
	}

	.total {
		display: flex;
		justify-content: space-evenly;

		font-size: 22px;
	}
}
