.wrapper {
	padding: 10px 20px;
	border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);

	.container {
		max-width: 1440px;
		display: flex;
		justify-content: space-around;
		margin: auto;

		.logo {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 190px;

			img {
				width: 50px;
				height: 45px;
				cursor: pointer;
			}

			p {
				font-size: 22px;
				font-weight: 600;
			}
		}

		ul {
			display: flex;
			align-items: center;

			li {
				margin-right: 15px;
				cursor: pointer;
				transition: all ease 300ms;
				line-height: 20px;

				&:hover {
					border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
				}
			}
		}

		.basket {
			width: 100px;
			background-color: rgba($color: #000000, $alpha: 0.2);
			display: flex;
			justify-content: space-between;
			padding: 10px;
			border-radius: 10px;
			cursor: pointer;
			transition: all ease 150ms;

			span {
				font-size: 18px;
				display: flex;
				align-items: center;

				img {
					width: 18px;
					height: 17px;
					margin-right: 5px;
				}
			}

			div {
				height: 100%;
				width: 1px;
				background-color: #000000;
			}

			&:active {
				transform: scale(0.97);
			}
		}
	}
}
